.history/*
__pycache__/*
/data/output/example_cohort/cohort_outputs/all_solutions_combined.csv
/.idea/*
alpaca/__pycache__/*
.vscode/settings.json
examples/**/.DS_Store
**/__pycache__/*
tests/test_output/*
dev/data/*
.DS_Store
TODO.md
dev/
examples/**/*.csv
examples/**/*.tsv
examples/**/*.json
examples/**/*.ipynb
*.log
tests/compare_solvers/output*
